<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WIFI</title>

    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/nestable.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="main-content">
                    <div class="row">

                        {% for ap in ap_list %}
                        <div class="col-lg-3">
                            <div class="card nestable-cart">
                                <div class="card-title">
                                    <h4>{{ ap['Essid'] }} - {{ ap['Channel'] }} CH</h4>
                                    <div class="card-title-right-icon">
                                        <ul>
                                            {{ ap['Bbsid'] }}
                                        </ul>
                                    </div>
                                </div>
                                <div class="nestable">
                                    <div class="dd" id="nestable">
                                        <ol class="dd-list">
                                            {% for idx, station in enumerate(ap['Station_list']) %}
                                            <li class="dd-item" data-id="{{ idx + 2 }}">
                                                <div class="dd-handle">{{ station }}</div>
                                            </li>
                                            {% endfor %}

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>